*{
    margin: 0%;
    padding: 0%;
    text-decoration: none;
}
/* body with image  */
body{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("769133.webp");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
/* logo adjust  */
#logo{
    width: 10%;
    height: 10%;
    border: 1px solid black;
    border-radius: 50%;
    background-color: blanchedalmond;
    margin-top: 15px;
    margin-left: 15px;
}
/* align of unorderlist to right side  */
nav ul{
    float: right;
}
/* align the list item in a horizontal line  */
nav ul li{
    margin-top: 17%;
    margin-right: 30px;
    display: inline-block;
    font-size: 25px;
    padding: 1px;
}
/* conversion of link text into beautiful buttons  */
nav ul li a{
    padding: 10px;
    color: red;
    text-transform: uppercase;
    border: 1px solid black;
    border-radius: 10px;
    background-color: black;
}
/* hover on button  */
nav ul li a:hover {
    background-color: blanchedalmond;
    color: black;
    transition: 1.3s ease;
}
/* logo head  */
#logohead{
    margin-left: 13%;
    margin-top: -7%;
    color: blanchedalmond;
    font-size: 40px;
}


